name: Build and Release

on:
  push:
    tags:
      - "v*"

env:
  CARGO_TERM_COLOR: always
  BINARY_NAME: chess_realm

jobs:
  build:
    name: Build ${{ matrix.os }}-${{ matrix.arch }}
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-latest
            os: linux
            arch: x64
          - target: x86_64-apple-darwin
            runner: macos-latest
            os: macos
            arch: x64
          - target: aarch64-apple-darwin
            runner: macos-latest
            os: macos
            arch: arm64
          - target: x86_64-pc-windows-msvc
            runner: windows-latest
            os: windows
            arch: x64
          - target: aarch64-pc-windows-msvc
            runner: windows-latest
            os: windows
            arch: arm64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Rust target
        run: rustup target add ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Package
        shell: bash
        run: |
          mkdir -p ${{ env.BINARY_NAME }}-packaged
          cd target/${{ matrix.target }}/release
          if [[ "${{ runner.os }}" == "Windows" ]]; then
            7z a ../../../${{ env.BINARY_NAME }}-packaged/${{ env.BINARY_NAME }}-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.arch }}.zip ${{ env.BINARY_NAME }}.exe
          else
            tar czvf ../../../${{ env.BINARY_NAME }}-packaged/${{ env.BINARY_NAME }}-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.arch }}.tar.gz ${{ env.BINARY_NAME }}
          fi

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BINARY_NAME }}-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.arch }}
          path: ${{ env.BINARY_NAME }}-packaged/${{ env.BINARY_NAME }}-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.arch }}.*
          if-no-files-found: error
          retention-days: 1

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@v5
        with:
          path: ${{ env.BINARY_NAME }}-release-artifacts
          merge-multiple: true

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.BINARY_NAME }}-release-artifacts/*
          generate_release_notes: true
          draft: false
          prerelease: false
          fail_on_unmatched_files: true
